{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1013b3, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

img {
    margin-bottom: 40px;
    height: 50px;
    width: auto;
    
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: #190bd3;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(199, 109, 7, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #e45d03;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #d8550a;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 70%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;

    .input-group input {
        font-size: 14px;
    }

    .login-btn {
        font-size: 14px;
    }
